################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TechChallengeFiap/.vs
/TechChallengeFiap/obj
/TechChallengeFiap/bin/Debug/net8.0
/TechChallengeFiap.Tests/obj
/TechChallengeFiap.Tests/bin/Debug/net8.0
/TechChallengeFiap.Tests.Integration/bin/Debug/net8.0
/TechChallengeFiap.Tests.Integration/obj
/TechChallengeFiapAdd/obj
/TechChallengeFiapAdd/bin/Debug/net8.0
/TechChallengeFiapConsumer/obj
/TechChallengeFiapConsumer/bin/Debug/net8.0
/TechChallengeFiapConsumerDelete/obj
/TechChallengeFiapConsumerDelete/bin/Debug/net8.0
/TechChallengeFiapConsumerEdit/obj
/TechChallengeFiapConsumerEdit/bin/Debug/net8.0
/TechChallengeFiapDelete/obj
/TechChallengeFiapDelete/bin/Debug/net8.0
/TechChallengeFiapUpdate/obj
/TechChallengeFiapUpdate/bin/Debug/net8.0
