################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TechChallengeFiap/.vs
/TechChallengeFiap/obj
/TechChallengeFiap/bin
/TechChallengeFiap/bin/Debug
/TechChallengeFiap/bin/Debug/net8.0
