################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TechChallengeFiap/.vs
/TechChallengeFiap/obj
/TechChallengeFiap/bin
/TechChallengeFiap/bin/Debug
/TechChallengeFiap/bin/Debug/net8.0
/TechChallengeFiap.Tests/obj
/TechChallengeFiap.Tests/bin/Debug/net8.0
/TechChallengeFiap.Tests.Integration/bin/Debug/net8.0
/TechChallengeFiap.Tests.Integration/obj
